<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/pico.min.css" />
    <link rel="stylesheet" href="/assets/custom.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <header class="header container">
      <nav>
        <ul>
          <li>
            <a href="https://mattakumar.com/thoughts"
              ><strong>Mattakumar</strong></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main class="main container">
      <h1>{{ title }}</h1>
      {{ content }}
    </main>
    <footer class="footer container">
      <nav>
        <ul>
          <li><a href="https://www.mattakumar.com/">About</a></li>
          <li><a href="https://newsletter.mattakumar.com/">Contact</a></li>
        </ul>
        <ul>
          <li>
            Created by <a href="https://www.mattakumar.com">Mattakumar</a>
          </li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
